<%= link_to 'Voltar', root_path %>

<%= link_to "Registrar um produto", new_product_category_path %>
<h1>Produtos</h1>

<% if @product_categories.empty? %>
<h3>Nenhum produto cadastrado</h3>
<% else %>
    <% @product_categories.each do |product| %>
        <h3> <%=link_to product.name, product %></h3>
        <dl>
            <dt>Código</dt>
            <dd><%= product.code %></dd>
        </dl>
        <hr>
    <% end%>
<% end%>